<!--<!DOCTYPE html>
<html lang="en">
<head>
    <title>We've got some trouble</title>
</head>
<body>
<div class="cover">
    <h1>Our apologies.</h1>
    <p class="lead">This page stepped out for a quick ride.</p>
    <p>Please go back to our loginpage to restart your browsing experience.</p>
</div>
</body>
</html> -->

<!-- https://www.thymeleaf.org/doc/articles/springsecurity.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body  th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<h1 class="alert alert-danger" th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|" >404</h1>
<p class="alert alert-danger" th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
<a href="home.html" th:href="@{/home}">Back to Home Page</a>
</body>
</html>